QPushButton{
background-color: rgb(8, 8, 8);
border:2px solid rgb(0, 0, 0);
color:rgb(220, 220, 220);
border-radius:6%;
}
QPushButton:hover{
background-color: rgb(0, 0, 0);
}
QPushButton:pressed{
background-color:rgb(50, 50, 50);
}


QToolButton{
background-color: rgb(0, 0, 0);
border:2px solid rgb(0, 0, 0);
border-radius:6%;
}
QToolButton:hover{
background-color: rgb(0, 0, 0);
}
QToolButton:pressed{
background-color:rgb(50, 50, 50);
}